---
layout: layout.njk
---

<H1>Quem Somos</H1>
<div>
  <div>
    <blockquote>
              "O lugar ideal para seu cão ficar  à vontade, livre, e seguro  com outros amiguinhos!"
      </blockquote>
    <p>A Brincão é um espaço que ama e respeita seu cãozinho. Ele passa o
              dia como se estivesse na rotina da sua casa, mas com uma área especial
          para entretenimento. </p>
    <p>Um amplo gramado conta com piscina de bolinhas,
    escorregador, casinha, túnel, brinquedos e amplo espaço para o banho
    de sol. Seu cão também tem várias opções de descanso internos em
          sofás, caminhas, como ele preferir e estiver acostumado na sua casa.</p>
    <p>
            Além da socialização, ele brinca, aprende e interage, reduzindo o
            nível de estresse. No retorno para casa, seu cão vai muito mais feliz,
          com a garantia de ter sido alimentado e bem cuidado.</p>
  </div>
  <div>
    <img/>
  </div>
</div>
<h2>Nossos Espaço</h2>
<div className="level">
  <div className="is-mobile">
    <button to="/servicos" >Conheça a Brincão!</button>
  </div>
</div>