---
layout: layout.njk
---
<h1>Localização</h1>
<div>
    <iframe
      width="100%"
      height="auto"
      frameborder="0"
      style="border:0"
      src="https://www.google.com/maps/embed/v1/place?q=Brinc%C3%A3o%20RS%20129%2C%20n.%20920%20%20Ch%C3%A1cara%20da%20Bandeira%2C%20Linha%20S%C3%A3o%20Jos%C3%A9%20%20Estrela%2C%20RS%20%2095880-000%20Brasil&key=AIzaSyChhUqUbak8-D52lLYY0C3JKH6w5hxVA7Q"
      allowfullscreen></iframe>
</div>
<section>
  <h2>Horário</h2>
  <p>Oferece um horário amplo, das <strong>7h às 19h</strong>, ou personalizado, conforme sua necessidade.</p>
</section>
