---
layout: layout.njk
hero: "/img/heroes/DSC_0054-min.JPG"
---
<h1>Serviços &amp; Preços</h1>
<p>A Brincão oferece o serviço de creche para o dia inteiro, ou apenas um
        turno, semanal ou mensal. </p>
<p>Oferecemos também serviços de um hotel, para
        hospedagens mais longas e alojamentos, quando necessários.</p>
<p> Além disso, os serviços da Brincão podem incluir busca e entrega, com dias e
        horários agendados, de acordo com as suas possibilidades.</p>
<p> Serviços como banho e tosa devem ser providenciados diretamente pelo dono em petshop de sua preferência.</p>
<section>
  <h2>Horário</h2>
  <p>Oferece um horário amplo, das <strong>7h às 19h</strong>, ou personalizado, conforme sua necessidade.</p>
</section>

<section>
  <h2>Hospedagem</h2>
  <div class="pricelist">
    <div class="box pattern-cross-dots-sm">
      <span class="box-title">​​​​​​​​​​Diária</span>
      <h3>R$ {{pricing.hospedagem.diaria}},00</h3>
    </div>
    <div class="box pattern-cross-dots-sm">
      <span class="box-title">Diária de hospedagem por 10 dias ou mais</span>
      <h3>R$ {{pricing.hospedagem.10oumais}},00</h3>
    </div>
    <div class="box pattern-cross-dots-sm">
      <span class="box-title">Diária de hospedagem de final de semana</span>
      <h3>R$ {{pricing.hospedagem.finaldesemana}},00</h3>
    </div>
  </div>
  <p>
        Obs: A diária é de 24 horas. Será acrescido $ 10,00 por turno a mais.
      </p>
  <p>
        Exemplo: entrada sábado pela manhã e saindo domingo de tarde: $ 35,00 +
        $ 5,00 = $40,00
      </p>
</section>

<section>
  <h2>Valores individuais para a Creche</h2>
  <div class="pricelist">
    <div class="box pattern-cross-dots-sm">
      <span class="box-title">1 diária</span>
      <h3>R$ {{pricing.individuais.1diaria}},00</h3>
    </div>
    <div class="box pattern-cross-dots-sm">
      <span class="box-title">5 dias x semana</span>
      <h3>R$ {{pricing.individuais.5dias}},00</h3>
    </div>
  </div>
  <p>O segundo cãozinho tem 15% de desconto sobre o valor!</p>
  <p>Valores novos a partir de 1 de Novembro 2020</p>
  <p>
        Para períodos maiores, ou necessidades específicas, os valores podem ser
        ajustados. <a href="/contato">Fale com a gente!</a>
  </p>
</section>
