<footer>
    <div class="container">
        <section class="address">
            <h3>Venham brincar com a gente!</h3>
            <div>
                <p>
                      Brincão RS 129, n. 920
                      <br/>
                      Chácara da Bandeira, Linha São José
                      <br/>
                      Estrela, RS
                      <br/>
                      95880-000 Brasil
                    </p>
            </div>
        </section>
        <section class="contact">
            <h3>Contato</h3>
            <ul class="contact-list">
                <li class="contact-item">
                    <img src="/img/icons/twitter.svg" class="social" alt="twitter">
                    <span>{{contact.twitter}}</span>
                </li>
                <li class="contact-item">
                    <img src="/img/icons/facebook.svg" class="social" alt="facebook">
                    <span>{{contact.facebook}}</span>
                </li>
                <li class="contact-item">
                    <img src="/img/icons/whatsapp.svg" class="social" alt="whatsapp">
                    <span>{{contact.whatsapp}}</span>
                </li>
                <li class="contact-item">
                    <img src="/img/icons/instagram.svg" class="social" alt="instagram">
                    <span>{{contact.instagram}}</span>
                </li>
            </ul>
        </section>
    </div>
    <div class="copyright" style="text-align:center; margin-top: 2em;">© 2020 Brincão Creche</div>
</footer>