<nav>
    <div class="">
        <a href="/">
            <img src='/img/logo.png' width=179 height=80/>
        </a>
    </div>
    <ul style="">
        <li>
            <a href="/about/" class="navbar-item {{ 'active' if '/about' in page.url }}">Quem Somos</a>
        </li>
        <li>
            <a href="/servicos/" class="navbar-item {{ 'active' if '/servicos' in page.url }}">Serviços &amp; Preços</a>
        </li>
        <li>
            <a href="/regras/" class="navbar-item {{ 'active' if '/regras' in page.url }}">Regras</a>
        </li>
        <li>
            <a href="/contato/" class="navbar-item {{ 'active' if '/contato' in page.url }}">Contato</a>
        </li>
    </ul>
</nav>