---
import Logo from "./logo.astro";
const { pathname } = Astro.url;

function isCurrent(name: string) {
	return pathname.replace(/\//g, "") === name ? "page" : "false";
}
---

<header class="container">
	<nav>
		<ul>
			<li>
				<a href="/">
					<Logo />
				</a>
			</li>
		</ul>

		<ul>
			<li>
				<a href="/about/" aria-current={isCurrent("about")}> Quem Somos </a>
			</li>
			<li>
				<a href="/servicos/" aria-current={isCurrent("servicos")}>
					Serviços &amp; Preços
				</a>
			</li>
			<li>
				<a href="/regras/" aria-current={isCurrent("regras")}> Regras </a>
			</li>
			<li>
				<a href="/contato/" aria-current={isCurrent("contato")}> Contato </a>
			</li>
		</ul>
	</nav>
</header>

<style>
	nav,
	nav ul {
		flex-wrap: wrap;
	}
</style>
