---
import { Image } from "astro:assets";
import logo from "../assets/img/Brincao.png";
---

<header class="container">
	<nav>
		<ul>
			<li>
				<a href="/">
					<Image src={logo} alt="Brincao logo" width="179" height="80" />
				</a>
			</li>
		</ul>

		<ul>
			<li>
				<a href="/about/" class="{{ 'active' if '/about' in page.url }}"
					>Quem Somos</a
				>
			</li>
			<li>
				<a href="/servicos/" class="{{ 'active' if '/servicos' in page.url }}"
					>Serviços &amp; Preços</a
				>
			</li>
			<li>
				<a href="/regras/" class="{{ 'active' if '/regras' in page.url }}"
					>Regras</a
				>
			</li>
			<li>
				<a href="/contato/" class="{{ 'active' if '/contato' in page.url }}"
					>Contato</a
				>
			</li>
		</ul>
	</nav>
</header>

<style>
	nav,
	nav ul {
		flex-wrap: wrap;
	}
</style>
